<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <meta charset="utf-8"/>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br/>
  <span>Selected: {{ selected }}</span>
  <br/>
  <select v-model="multiSelected" multiple style="width: 50px;">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <br/>
  <span>multiSelected: {{ multiSelected }}</span>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      selected: '',
      multiSelected: []
    }
  })
</script>

</body>
</html>
